/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


:root {
	--titles-and-buttons-color: #1D6154;
	--main-title-and-nav-hover-color: #B1663C;
	--inputs-shadowing: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	margin-top: 0;
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: var(--main-title-and-nav-hover-color);
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--titles-and-buttons-color);
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a {
	text-decoration: none;
	color: black;
}

li a:focus {
	font-weight: bold;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
}

.categories-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1em;
	align-items: center;
	margin-bottom: 2rem;
}

.work-category-button {
	background: none;
	border: 1px solid var(--titles-and-buttons-color);
	border-radius: 40px;
	padding: 0.5em;
	font-family: 'Syne';
	font-size: 1.4rem;
	color: var(--titles-and-buttons-color);
}



.work-category-button:focus {
	background-color: var(--titles-and-buttons-color);
	color: #FFF;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: var(--inputs-shadowing);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: var(--inputs-shadowing);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: var(--titles-and-buttons-color);
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#auth-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

#auth-section h2 {
	margin-bottom: 1rem;
}

.auth-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 100%;
	width: 30%;
}

.auth-form form {
	display: flex;
	flex-direction: column;
	font-family: 'Work Sans';
	gap: 1.2em;
}

.auth-form form div {
	display: flex;
	flex-direction: column;
	gap: 0.2em;
}

.auth-form input {
	max-width: 100%;
	border: none;
	box-sizing: border-box;
	box-shadow: var(--inputs-shadowing);
	height: 35px;
	width: 100%;
}

.auth-form input[type="submit"] {
	border: none;
	padding: 1em;
	box-shadow: none;
	height: auto;
	max-width: 100%;
	width: 60%;
}

#link-forgotten-password {
	color: black;
	max-width: 100%;
	align-self: center;
}


.flash-message-error {
	color: black;
	background-color: red;
}

.edit-mod-banner {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	max-width: 100%;
	height: 59px;
	margin-bottom: 2rem;

}

.edit-mod-banner-content {
	display: flex;
	flex-flow: row nowrap;
	text-wrap: nowrap;
	gap: 0.2em;
	color: white;
	max-width: 100%;
}

.project-title-content {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: 1em;
	margin-bottom: 2rem;
}

.edit-form-link-content {
	display: flex;
	flex-flow: row nowrap;
	text-wrap: nowrap;
	max-width: 100%;
	color: black;
}

.edit-form-link-content i {
	margin-right: 0.8em;
}

.edit-form-link-content a {
	color: black;
	text-decoration: none;
}


dialog {
	border: none;
}

::backdrop {
	background-color: rgba(0, 0, 0, 0.80);
}

.projects-modal-wrapper {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: auto;
	width: 630px;
	max-width: calc(100vw - 20px);
	max-height: calc(90vh - 20px);
	padding: 20px;
	background-color: #FFF;
	border-radius: 20px;
}



.close-modal-button {

	background: none;
	border: none;
}

.previous-modal-button {
	background: none;
	border: none;
}

.modal-navigation-buttons {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 100%;
	max-width: 100%;
}

.projects-modal-gallery {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1.2rem;
	padding-bottom: 2em;
	border-bottom: 2px solid #B3B3B3;
	max-width: 67%;

}

.modal-main-title {
	color: black;
	font-family: 'Work Sans';
	font-weight: lighter;
	margin-bottom: 1.5rem;
}

#add-project-button {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: var(--titles-and-buttons-color);
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	border: none;
	padding: 1em;
}

#add-project-link {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: var(--titles-and-buttons-color);
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	border: none;
	padding: 1em;
	text-decoration: none;
}

.projects-photo-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	max-height: 70%;
	max-width: 100%;
	grid-column-gap: 10px;
	grid-row-gap: 10px;

}


.project-grid-modal-image {
	position: relative;
}



.projects-photo-grid img {
	object-fit: cover;
	max-height: 50%;
	width: 100%;
	max-width: 100%;
	aspect-ratio: 1/1.34;
}

.delete-project-button {
	position: absolute;
	top: 7px;
	right: 4px;
	padding: 0.1em;
	color: white;
	background-color: black;
	border-radius: 5px;
}

.add-projects-modal-content {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	width: 80%;
}




.add-projects-modal-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 80%;
	width: 80%;
}

.add-projects-modal-form form {
	display: flex;
	flex-direction: column;
	max-width: 80%;
	width: 100%;
	gap: 1em;
	border-bottom: 2px solid #B3B3B3;
	padding-bottom: 1em;
}

.upload-file-input {
	height: 150px;
	width: 100%;
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
}

.add-projects-modal-form input[type="file"] {
	display: none;
}

#add-photo-button {
	background-color: #CBD6DC;
	border-radius: 20px;
	border: none;
	height: 36px;
	max-width: 41%;
	width: 41%;
	color: #306685;
	font-weight: bold;
}

.upload-file-input img {
	width: 20%;
	max-width: 20%;
	height: 70px;
	object-fit: cover;
}

.uploaded-project-title-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	max-width: 100%;
	gap: 0.7em;
}

.uploaded-project-title-content input {
	width: 100%;
	max-width: 100%;
	height: 51px;
	box-sizing: border-box;
	padding: 1em;
	border: none;
	box-shadow: var(--inputs-shadowing);

}

.uploaded-project-category-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	max-width: 100%;
	gap: 0.7em;
}

.uploaded-project-category-content select {
	width: 100%;
	max-width: 100%;
	height: 51px;
	border: none;
	box-shadow: var(--inputs-shadowing);
}